.calc{
    margin-bottom: 95px;
    &__title{
        margin-bottom: 20px;
    }
    &__subtitle{
        margin-bottom: 25px;

        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 100%;
        color: #000000;
        span{
            text-decoration: underline;
            color:$color4;
        }
    }
    &__descr{
        margin-bottom: 23px;

        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: $color6;
    }
    .tab-wrapper{
        width: 100%;
        margin: auto;
        .tabs-header{
            display: flex;
            transform: translateY(1px);
            position: relative;
            z-index: 1;
            .tab-header{
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $color2;
                background-color: transparent;
                color: $color2;
                transition: .5s;
                width: 100%;
                min-height: 74px;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 120%;
                margin-bottom: 75px;
                &:hover{
                    cursor: pointer;
                    color: $color4;
                    background-color: #fff;
                }
                &_show{
                    color: $color4;
                    background-color: transparent;
                    border:1px solid $color4;
                }
                    
            }
                      
        }
        .tabs-content{
            display: flex;
            position: relative;
            .tab-content{
                display: none;
                background-color: #fff;
                color: #000;
                box-sizing: border-box;
                &_show{
                    display: block;
                    width: 100%;
                }
                    
            }
                
                
        }
    
            
    }
    .fade{
        animation: tabContent .5s cubic-bezier(0.6, 0, 0.18, 0.99);
    }
    @keyframes tabContent{
        0%{
            opacity: 0;
            transform: scale(0.98);
        }
        
      100%{
        opacity: 1;
        transform: scale(1);
      }
        
    }
    &-block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
        &_line{
            padding: 6px 18px;
            transform: rotate(-90deg);
            font-style: normal;
            font-weight: 400;
            font-size: 8px;
            line-height: 9px;
            color: #C7CBD8;
            border: 1px solid $color2;
            border-radius: 15px;
            position: relative;
            z-index: 2;
            background-color: #fff;
            transform-style: preserve-3d;
            &:before{
                content: "";
                position: absolute;
                transform: translateZ(-1px);
                top: 46%;
                left:-300%;
                background-color: $color2;
                width: 369px;
                height: 1px;
            }
        }
    }
    &-img{
        display: block;
        img{
            cursor: pointer;
        }
        &__wrapper:not(:first-child){
            margin-top: 30px;
            img{
                max-width: 64px;
                max-height: 50px;
                
            }
        }
    }
    .checked{
        position: relative;
        &:before{
            content: url("../img/computation/check.svg");
            position: absolute;
            top:-10px;
            left:-16px;
        }
    }
    [data-tooltip] {
        position: relative; /* Относительное позиционирование */ 
       }
       [data-tooltip]::after {
        content: attr(data-tooltip); /* Выводим текст */
        position: absolute; /* Абсолютное позиционирование */
        width: 89px; /* Ширина подсказки */
        right: -100%;
        top: -50%; /* Положение подсказки */
        background: $color4; /* Синий цвет фона */
        color: #fff; /* Цвет текста */
        padding: 0.5em; /* Поля вокруг текста */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
        pointer-events: none; /* Подсказка */
        opacity: 0; /* Подсказка невидима */
        transition: 1s; /* Время появления подсказки */
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 120%;
       } 
       [data-tooltip]:hover::after {
        opacity: 1; /* Показываем подсказку */
        top: 0; /* Положение подсказки */
    }
  &-form{
      display: flex;
      flex-direction: column;
      &__type{
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        /* or 19px */
        color:#000;        
      }
      select{
        padding:0 20px;
        margin-bottom: 15px;
        width: 306px;
        height: 68px;
        outline: none;
        border: 1px solid #C7CBD8;
        border-radius: 0px;
        
        option{
            position: relative;
            padding: 0;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #000;
            width: 100%;
            &:before{
                content: "С одной рабочей створкой";
                position: absolute;
                bottom: 0;
                left:0;
            }
        }
      }
      &__check{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 52px;
          &_wrapper:not(:last-child){
              margin-bottom: 10px;
          }
          input{
            background: #004AB3;
            width: 16px;
            height: 16px;
            border-radius: 0;
            border: 1px solid #004AB3;
          }
          .text{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;

            color: #000000;
          }
      }
      &__price{
        margin-bottom: 15px;
        padding: 20px 20px 10px 20px;
        border: 1px solid #C7CBD8;
        border-radius: 0px;
        &_title{
            margin-bottom: 5px;
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            color: #000000;
        }
        &_subtitle{
            margin-bottom: 15px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 120%;
            color: #000000
        }
        &_orange{
            display: inline-block;
            margin-right: 16px;
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 41px;
            color: #FF8000;
        }
        &_out{
            font-style: normal;
            font-weight: 300;
            font-size: 28px;
            line-height: 33px;
            text-decoration-line: line-through;

            color: #333333;
        }
      }
      &__button{
        width: 100%;
        padding: 25px 75px;
        background-color: $color4;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        text-align: center;

        color: #FFFFFF
      }
  }
  &-order{
      &__title{
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 33px;

        color: #000;
      }
      &__block{
          margin-bottom: 30px;
          &_list{
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 26px 0;
              border-top: 1px solid $color2;
              border-bottom: 1px solid $color2;
          }
      }
      &__select{
        min-width: 170px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;

        color: #000000;
        span{
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 120%;
            /* or 14px */


            color: #333333;
        }
      }
      &__check{
        min-width: 199px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;

        color: #000000;
      }
      &__price{
        font-style: normal;
        font-weight: 400;
        font-size: 28px;

        color: #000000;
        span{
            display: block;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;

            color: #333333;
        }
      }
      &__del{
          display: flex;
          &_copy{
              margin-right: 10px;
              cursor: pointer;
          }
          &_delete{
              cursor: pointer;
          }
      }
  }
  &-submit{
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__wrapper{
            
            a{
                display: block;
                width: 100%;
                padding: 22px 91px;
                background-color: $color1;
                transition: all 0.3s;
                &:hover{
                    background-color: $color4;
                    
                }
            }
            
      }
      &__link{
            text-decoration: none;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */
            text-align: center;
            color: #FFFFFF;
      }
      &__summative{
        margin-right: 190px;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 120%;

        color: #FF8000;
        span{
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 120%;

            color: #000000;
        }
      }
  }
}

@import "media";