:root {
	--container-width: 1110px;
	--container-padding: 15px;

	--font-main: 'Poppins',sans-serif;
	--font-accent: 'Poppins', sans-serif;
	--font-titles: var(--font-accent);

	--white: #fff;
	--black: #000;

	--page-bg: #fff;
	--text-color: rgb(0, 0, 0);
	--accent: rgb(255, 165, 1);
	--link-color: rgb(0, 0, 0);


    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}