.btn--nav{
    position: fixed;
    top: 20px;
    right: 30px;

    display: flex;
    align-items: end;
    flex-direction: column;
    row-gap: 6px;

    cursor: pointer;
    z-index: 0;
}
.btn--nav:hover{
    .btn--span{
        background-color: var(--accent);
    }
}

.btn--span{
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--black);

    transition: all 0.2s ease-in;
}

.btn--span:nth-child(2){
    width: 36px;
}

@media (hover: hover) and (pointer: coarse) {
  .btn--nav:hover,.btn--nav:active, .btn--nav:focus{
        .btn--span{
            background-color: var(--black);  
        }
    }
} 

@include mobile{
    .btn--nav{
        right: 20px;
    }
}