.portfolio {
    padding-bottom: 60px;
}
.portfolio .title-2{
    position: relative;
    z-index: 1;
    @include textCircleCenter;
}
.portfolio--blocks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,280px));
    // grid-template-rows: repeat(auto-fit, minmax(280px,280px));
    gap: 4px;
}
.portfolio--block {
    display: block;
    max-width: 280px;

    position: relative;

    transition: all 0.2s;
}
.portfolio--img{
    position: relative;
    overflow: hidden;
}
.portfolio--img img{
    width: 280px;
    height: 280px;

    object-fit: cover;
    object-position: 50% 50%;

    filter: brightness(100%);
    transition: all 0.2s ease-in;
}
.portfolio--text {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    opacity: 0;

    transition: all 0.2s ease-in;
}
.portfolio--title {
    font-weight: 700;
    font-size: 28px;
    padding: 7px;
    text-align: center;
    color: var(--accent);
    border: 3px solid var(--accent);

    transition: all 0.2s ease-in;
}

.portfolio--links{
    display: flex;
    align-items:center;
    column-gap: 40px;

    transition: all 0.2s ease-in;
}
.portfolio--links a {
    display: block;
}
.icon--github {
    width: 50px;
    height: 50px;
    fill: var(--accent);
}
.icon--arrow-rigth {
    width: 60px;
    height: 60px;
    fill: var(--accent);
}

.portfolio--block:hover{
    .portfolio--img img{
        filter: brightness(40%);
    }
    .portfolio--text{
        opacity: 1;
    }
}
@media (hover: hover) and (pointer: coarse) {
    .portfolio--block:hover, .portfolio--block:active, .portfolio--block:focus{
        .portfolio--img img{
            filter: brightness(40%);
        }
        .portfolio--text{
            opacity: 1;
        }
}

}
@include tablet {
    .portfolio--blocks{
        justify-content: center;
    }
    .portfolio--img img{
        filter: brightness(40%);
    }
    .portfolio--text{
        opacity: 1;
    }

}

@include mobile {
    .portfolio--blocks{
        gap: 20px;
    }
}
