$font: "Roboto", sans-serif;

$color1: rgb(255, 128, 0);
$color2: #c7cbd8;
$color3: #000000;
$color4: #004ab3;
$color5: #ffffff;
$color6: #333333;
$color7: #f5f5f7;
$color8: #d86c00;
$color9: #3080d0;
$color10: #5299FF;

$gradient1: linear-gradient(250.01deg, rgba(9, 108, 248, 0.94) 0%, rgba(0, 74, 179, 0.94) 97.35%);
